.nav-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #0e688f;
  position: sticky;
  /* height: 100px; */
  width: 100%;
  min-width: 320px;
}
h2 {
  height: 20px;
  margin: 0 auto;
  padding-top: 30px;
}
.head1 {
  color: rgb(255, 253, 253);
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1111;
  width: 100%;
  height: 80px;
}
.main-header {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.nav-container h4 {
  max-width: 430px;
  font-size: 60px;
  border-radius: 10%;
  font-family: "Dancing Script", cursive;
  margin: 0 auto;
  margin-left: 30px;
  color: #ffffff;
}
.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;

  font-family: "Dancing Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Patua One", cursive;
  /* height: 60px; */
}
.nav-list p {
  /* margin-top: 0; */
  align-self: center;
}

.nav-list {
  background-color: #0e688f;
  width: 100vw;
}
.nav-list a {
  font-size: 25px;
  color: rgb(255, 253, 253);
  color: #ffffff;
  text-decoration: none;
  font-style: bold;
  border-radius: 10px;
  /* border-top: 1px solid #ffffff; */
  justify-content: space-around;
}
.nav-list a:hover {
  background-color: rgb(91, 165, 244);
}

.hero {
  background: rgba(0, 0, 0, 0) url("./Nshtey-Roma.jpg");
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 600px;
  border: 0.1px solid rgb(79, 79, 79);
}

.home-body {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 20%;
  background-color: #b8ecf0;
}
.main {
  width: 100vw;
  margin: 0 auto;
}

.main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  background-color: rgb(165, 186, 177);
  background-color: rgb(242, 241, 241);

  padding: 0;
  margin: 0 auto;
}

.div-1 {
  width: 59.8%;
  height: 99%;
  background-color: rgb(249, 249, 249);
  border-bottom: 0.1px solid rgb(203, 201, 201);

  text-align: center;
}
.div-2 {
  width: 40%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  margin: 0;
}
div-2 img {
  width: 100%;
  height: 100%;
}
